.doc_info{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.customer_info{
    position: relative;
    display:flex;
    flex-direction: column;
    gap:2vh;
}

.window_container{
    margin-top: 10vh;
}

.window_container label{
    position: relative;
    font-weight: bold;
    font-size: 32px;
}

.generate{
    text-align: center;
    margin-top: 5vh;
    border: 2px solid black;
    margin-left: 40%;
    margin-right: 40%;
    padding: 1vh;
}